[submodule "thirdparty/lodepng"]
	path = thirdparty/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "thirdparty/tinyexr"]
	path = thirdparty/tinyexr
	url = https://github.com/syoyo/tinyexr
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
